.row {
  width: 100%;
}

.card-header::after {
  content: url("../../../assets/images/circle.svg")
}

.card.read {
  opacity: 0.5;
}

.read .card-header::after {
  content: url('../../../assets/images/check-circle.svg');
  position: relative;
  // left: 100px;
}
